<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="kf2server_tbot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <kf2server_tbot.Properties.Settings>
            <setting name="KF2ServerURL" serializeAs="String">
                <value />
            </setting>
            <setting name="WebAdminUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="WebAdminPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerInfoURL" serializeAs="String">
                <value>current/info</value>
            </setting>
            <setting name="ChangeMapURL" serializeAs="String">
                <value>current/change</value>
            </setting>
            <setting name="PlayersURL" serializeAs="String">
                <value>current/players</value>
            </setting>
            <setting name="PasswordsURL" serializeAs="String">
                <value>policy/passwords</value>
            </setting>
            <setting name="GeneralURL" serializeAs="String">
                <value>settings/general#SG_Game</value>
            </setting>
            <setting name="GameTypesURL" serializeAs="String">
                <value>settings/gametypes</value>
            </setting>
            <setting name="MapChangeTimeoutSeconds" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="DefaultTaskTimeoutSeconds" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="UsersRelFilePath" serializeAs="String">
                <value>Users.dll</value>
            </setting>
            <setting name="PageNavTimeoutSeconds" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="Logfile" serializeAs="String">
                <value>Log.txt</value>
            </setting>
            <setting name="DefaultGamePassword" serializeAs="String">
                <value />
            </setting>
            <setting name="ChatId" serializeAs="String">
                <value />
            </setting>
            <setting name="TelegramBotToken" serializeAs="String">
                <value />
            </setting>
        </kf2server_tbot.Properties.Settings>
    </userSettings>
</configuration>