<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="kf2server_tbot_client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="simpleAuthBinding">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="simpleAuthBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom"
              customUserNamePasswordValidatorType="kf2server_tbot_client.Auth.AuthManager, kf2server-tbot-client, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
          </serviceCredentials>
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="simpleAuthBehavior" name="kf2server_tbot_client.Service.CurrentGameService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="simpleAuthBinding"
          contract="kf2server_tbot_client.Service.ICurrentGameService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/kf2server_tbot_client.Service/CurrentGameService/" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="simpleAuthBehavior" name="kf2server_tbot_client.Service.AccessPolicyService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="simpleAuthBinding"
          contract="kf2server_tbot_client.Service.IAccessPolicyService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/kf2server_tbot_client.Service/AccessPolicyService/" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="simpleAuthBehavior" name="kf2server_tbot_client.Service.SettingsService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="simpleAuthBinding"
          contract="kf2server_tbot_client.Service.ISettingsService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/kf2server_tbot_client.Service/SettingsService/" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="simpleAuthBehavior" name="kf2server_tbot_client.Service.MiscellaneousService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="simpleAuthBinding"
          contract="kf2server_tbot_client.Service.IMiscellaneousService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/kf2server_tbot_client.Service/MiscellaneousService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
    <userSettings>
        <kf2server_tbot_client.Properties.Settings>
            <setting name="KF2ServerURL" serializeAs="String">
                <value>http://kf2server.rhome.net:8080/ServerAdmin/</value>
            </setting>
            <setting name="WebAdminUsername" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="WebAdminPassword" serializeAs="String">
                <value>WelcomeToBrampton69</value>
            </setting>
            <setting name="ServerInfoURL" serializeAs="String">
                <value>current/info</value>
            </setting>
            <setting name="ChangeMapURL" serializeAs="String">
                <value>current/change</value>
            </setting>
            <setting name="PlayersURL" serializeAs="String">
                <value>current/players</value>
            </setting>
            <setting name="PasswordsURL" serializeAs="String">
                <value>policy/passwords</value>
            </setting>
            <setting name="GeneralURL" serializeAs="String">
                <value>settings/general#SG_Game</value>
            </setting>
            <setting name="GameTypesURL" serializeAs="String">
                <value>settings/gametypes</value>
            </setting>
            <setting name="MapChangeTimeoutSeconds" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="DefaultTaskTimeoutSeconds" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="UsersRelFilePath" serializeAs="String">
                <value>Users.dll</value>
            </setting>
            <setting name="PageNavTimeoutSeconds" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="Logfile" serializeAs="String">
                <value>Log.txt</value>
            </setting>
            <setting name="VerboseLogging" serializeAs="String">
                <value>True</value>
            </setting>
        </kf2server_tbot_client.Properties.Settings>
    </userSettings>
</configuration>