<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
          <section name="TWCFClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TWCFClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="simpleAuthBinding">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
        <serviceBehaviors>
            <behavior name="simpleAuthBehavior">
                <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                <serviceDebug includeExceptionDetailInFaults="true" />
              <serviceCredentials>
                <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="TWCFClient.Auth.AuthManager, TWCFClient"/>
              </serviceCredentials>
            </behavior>
        </serviceBehaviors>
      </behaviors>
      <services>
          <service name="TWCFClient.Service.CurrentGameService" behaviorConfiguration="simpleAuthBehavior">
              <endpoint address="" binding="basicHttpBinding" bindingConfiguration="simpleAuthBinding" contract="TWCFClient.Service.ICurrentGameService">
                  <identity>
                      <dns value="localhost" />
                  </identity>
              </endpoint>
              <host>
                  <baseAddresses>
                      <add baseAddress="http://localhost:8733/Design_Time_Addresses/TWCFClient.Service/CurrentGameService/" />
                  </baseAddresses>
              </host>
          </service>
          <service name="TWCFClient.Service.AccessPolicyService" behaviorConfiguration="simpleAuthBehavior">
              <endpoint address="" binding="basicHttpBinding" bindingConfiguration="simpleAuthBinding" contract="TWCFClient.Service.IAccessPolicyService">
                  <identity>
                      <dns value="localhost" />
                  </identity>
              </endpoint>
              <host>
                  <baseAddresses>
                      <add baseAddress="http://localhost:8733/Design_Time_Addresses/TWCFClient.Service/AccessPolicyService/" />
                  </baseAddresses>
              </host>
          </service>
          <service name="TWCFClient.Service.SettingsService" behaviorConfiguration="simpleAuthBehavior">
              <endpoint address="" binding="basicHttpBinding" bindingConfiguration="simpleAuthBinding" contract="TWCFClient.Service.ISettingsService">
                  <identity>
                      <dns value="localhost" />
                  </identity>
              </endpoint>
              <host>
                  <baseAddresses>
                      <add baseAddress="http://localhost:8733/Design_Time_Addresses/TWCFClient.Service/SettingsService/" />
                  </baseAddresses>
              </host>
          </service>
          <service name="TWCFClient.Service.MiscellaneousService" behaviorConfiguration="simpleAuthBehavior">
              <endpoint address="" binding="basicHttpBinding" bindingConfiguration="simpleAuthBinding" contract="TWCFClient.Service.IMiscellaneousService">
                  <identity>
                      <dns value="localhost" />
                  </identity>
              </endpoint>
              <host>
                  <baseAddresses>
                      <add baseAddress="http://localhost:8733/Design_Time_Addresses/TWCFClient.Service/MiscellaneousService/" />
                  </baseAddresses>
              </host>
          </service>
      </services>
  </system.serviceModel>
  <applicationSettings>
        <TWCFClient.Properties.Settings>
              <setting name="UsersRelFilePath" serializeAs="String">
                    <value>Users.dll</value>
              </setting>
        </TWCFClient.Properties.Settings>
    </applicationSettings>
  <userSettings>
    <TWCFClient.Properties.Settings>
      <setting name="WebminUsername" serializeAs="String">
        <value>admin</value>
      </setting>
      <setting name="WebminPassword" serializeAs="String">
        <value>1234</value>
      </setting>
    </TWCFClient.Properties.Settings>
  </userSettings>
</configuration>