<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.net>
  </system.net>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMiscellaneousService">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_ISettingsService">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IAccessPolicyService">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_ICurrentGameService">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/kf2server_tbot_client.Service/MiscellaneousService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMiscellaneousService"
                contract="Miscellaneous.IMiscellaneousService" name="BasicHttpBinding_IMiscellaneousService" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/kf2server_tbot_client.Service/SettingsService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISettingsService"
                contract="Settings.ISettingsService" name="BasicHttpBinding_ISettingsService" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/kf2server_tbot_client.Service/AccessPolicyService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAccessPolicyService"
                contract="AccessPolicy.IAccessPolicyService" name="BasicHttpBinding_IAccessPolicyService" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/kf2server_tbot_client.Service/CurrentGameService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICurrentGameService"
                contract="CurrentGame.ICurrentGameService" name="BasicHttpBinding_ICurrentGameService" />
        </client>
    </system.serviceModel>
</configuration>