<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="tbot_client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <userSettings>
        <tbot_client.Properties.Settings>
            <setting name="Token" serializeAs="String">
                <value>700284658:AAGYopYqRltTjLUw-V9V4PKAj-VYYP0T5fY</value>
            </setting>
            <setting name="ServiceUsername" serializeAs="String">
                <value>1234</value>
            </setting>
            <setting name="ServicePassword" serializeAs="String">
                <value>5678</value>
            </setting>
            <setting name="ChatId" serializeAs="String">
                <value />
            </setting>
            <setting name="Logfile" serializeAs="String">
                <value>Log.txt</value>
            </setting>
        </tbot_client.Properties.Settings>
    </userSettings>
</configuration>